<% if @user.persisted? %>
  <form action="<%= user_url(@user) %>" method="post">

  <input type="hidden" name="_method" value="put">

<% else %>
  <form action="<%= users_url %>" method="post">
<% end %>

    <label for="user_name">Title</label>
    <input type="text" name="user[name]" id="user_name" value="<%= @user.name %>"><br>

    <% Team.all.each do |team| %>
      <label for "user_teams"><%= team.name %></label>
      <input type="checkbox" name="user[team_ids][]" value="<%= team.id %>" <%= "checked" if @user.teams.include?(team) %>>
    <% end %>

    <br>
    <input type="hidden" name="user[team_ids][]" value="">

    <input type="submit" name="commit" value="Save">

  </form>

