<h1> <%= @project.title %> </h1>

<div class="field">
	<pre><%= @project.description %></pre>
</div>

<h3> Team </h3>

<div class="field">
	<pre><%= link_to @project.team.name, team_url(@project.team) %></pre>
</div>

<br>

<h3> Items </h3>

<%= render partial: "items/item", collection: @project.items %>

<!-- <ul>
	<% @project.items.each do |item| %>
	  <li><%= link_to item.title, item_url(item) %></li>
	<% end %>
</ul> -->
<br>

<%= link_to "Edit this Project", edit_project_url(@project)%><br>

<%= link_to "Add new Tasks", new_project_item_url(@project) %><br>

<%= link_to "Return to Project List", projects_url %><br>
