<% if @item.persisted? %>
  <form action="<%= item_url(@item) %>" method="post">

	<input type="hidden" name="_method" value="put">

<% else %>
  <form action="<%= items_url %>" method="post">
<% end %>

	  <label for="item_title">Title</label>
	  <input type="text" name="item[title]" id="item_title" value="<%= @item.title %>"><br>

	  <label for="item_details">Details</label>
	  <textarea name="item[details]" id="item_details" value="<%= @item.details %>"></textarea><br>

	  <label for "item_project">Project</label>
	  <select name="item[project_id]">
	  	<% Project.all.each do |project| %>
	  	  <option name="item[project_id]" value="<%= project.id %>" selected="<%= "selected" if @item.project_id == project.id %>"><%= project.title %></option>
	  	<% end %>
	  </select><br>

	  <label for "item_completed">Completed</label>
	  <input type="checkbox" name="item[completed]" value="<%= "checked" if @item.completed %>"><br>
	


	<input type="submit" name="commit" value="Save">

</form>
