<h1> <%= @item.title %> </h1>

<h3><%= @item.completed? ? "Completed" : "Not Completed" %></h3>

<div class="field">
	<pre><%= @item.details %></pre>
</div>

<br>

<%= link_to "Edit this Item", edit_item_url(@item)%><br>

<%= link_to "Back to Project", project_url(@item.project)%>
